.container {
  width: 100%;
  padding: 30px;
  /* border: 1px solid blue; */
}
.videos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 15px;
}
.video {
  /* width: 33%;
  height:  */
  border: 1px solid pink;
}
.title {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(0, 115, 255);
  margin-bottom: 5px;
}
.channelTitle {
  margin-bottom: 5px;
}
.publishedAt {
  font-size: 0.8rem;
  color: gray;
}
